.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

.container--small {
  max-width: 600px;
}

.flex--wrap {
  display: flex;
  flex-flow: wrap;    
}

.flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex__item--50 {
  flex: 50;
}

.grid-wrap{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 50px;
}

.grid-two {
  display: grid;
  grid-template-columns: 1fr 50%;      
  grid-gap: 50px;
  &--big {
    grid-gap: calc(30px + 3vw);
  }
}

.row{
  display: flex;
}

.col {
  flex: 40%;
  &:first-of-type {
    margin-right: 50px;
  }
}
