.aside {  
  position: fixed;  
  top: 50px; // This is the height of the nav
  bottom: -50px;
  height: calc(100% - 50px);
  overflow-y: scroll;    
  -webkit-overflow-scrolling: touch;   
  header {
    padding: 0 0.5rem;
  }
}

.aside__nav-list {
  // outline: 1px solid red;
  list-style: none;
  margin: 0;
  padding: 0;  
}

.aside__link {
  // outline: 1px solid green;
  border-top: 1px solid $primary-border;
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: white;   
  padding: 0.5rem;  
  text-decoration: none;
  transition: all 200ms ease;
  &:hover > .aside__link--overlay {  
    transform: translateX(0);
  }
}

.aside__link-p {
  margin-top: .5rem;
  font-size: 80%;
  font-weight: 600;     
}

.aside__link--overlay {  
  width: 220px;
  z-index: 2;  
  // color: white;
  top: 0;
  left: 0;      
  transition: all 200ms ease;
}

.aside__link--active .aside__link--overlay {  
  text-decoration: underline;
}