.aside {  
  position: fixed;  
  top: 50px; // This is the height of the nav
  bottom: -50px;
  height: calc(100% - 50px);
  overflow-y: scroll;    
  -webkit-overflow-scrolling: touch;   
  width: 250px;
  header {
    padding: 0 0.5rem;
  }
}

.aside__nav-link {
  // outline: 1px solid green;    
  border-top: 1px solid $primary-border;  
  display: block;  
  padding: 1.5rem 0.5rem;  
  text-decoration: none;
  transition: all 200ms ease;  
  font-size: 80%;
  font-weight: 600;       
}

.aside__nav-link--active  {    
  background: $bg;
}