.project-blogs {
  margin-top: 3em;
  padding: 3em 0;
  background: $bg-med;
  h2 {
    color: $primary;
    font-size: 2em;
  }
  section {
    background: white;
    border-radius: 3px;
    border: 1px solid $primary-border;
    margin: 2rem 0;
    padding: 1em;
  }
}