.form {
  // outline: 1px solid red;  
  align-self: center;    
  width: 100%;
  max-width: 400px;
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid $primary-border;
  background: white;
  box-shadow: $shadow;
  h3 {
    color: $primary;
    margin-top: 1rem;        
    font-weight: 100;
    font-size: 24px;
  }  
  p:last-of-type {
    margin-bottom: 0;
  }
  button[type="submit"] {    
    margin-bottom: 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
}

.form__item {
  font-size: 18px;
  display: block;    
  margin-top: 0.15rem;
  border: none;    
  padding: 0.5rem 0.25rem;
  background: $bg;    

}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  font-size: 14px;
  font-weight: bold;
  color: $primary-light;
}

.search {
  width: 100%; 
  border: none;
  border: 2px solid $primary-border;
  border-radius: 5px;
  box-shadow: $shadow-stripe;
  background: $primary;    
  color: #ffffff;
  padding: 10px;
  font-size: 18px;
  transition: all 300ms ease; 
  &::placeholder {
    color: $font-light;
  }
  &:focus {
    box-shadow: none;
    &::placeholder {
      color: $font-med;
    }
    outline: none;
    color: $primary;
    background: #ffffff;
    border-color: $primary;
  }
}