.form {
  // outline: 1px solid red;  
  max-width: 340px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid $primary-border;
  background: white;
  box-shadow: $shadow;
  h3 {
    color: $primary;
    margin-top: 1rem;        
    font-weight: 100;
    font-size: 24px;
  }  
  label {    
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    font-size: 14px;
    font-weight: bold;
    color: $primary-light;
  }
  input,
  textarea {
    // outline: 1px solid green;    
    font-size: 18px;
    display: block;    
    margin-top: 0.15rem;
    border: none;    
    padding: 0.5rem 0.25rem;
    background: $bg;    

  }
  button[type="submit"] {
    margin-top: 1rem;
    border: none;
    cursor: pointer;
    width: 100%;
  }
}