.info-link {
  // outline: 1px solid red;  
  display: inline-block;    
  transition: all 200ms ease;
  text-decoration: none;  
  color: $med;
  border-top: 2px solid $med;
  margin-bottom: 2rem;
  h4 {
    margin: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;        
  }  
  &:hover {       
    color: $primary;   
    border-top: 2px solid $primary; 
    img {
      transition: all 500ms ease;
      -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
      filter: grayscale(0%);
    }
  }
}