.info-link {
  // outline: 1px solid red;  
  display: inline-block;  
  padding: 0.5rem;
  border: 1.5px solid $primary;  
  transition: all 200ms ease;
  text-decoration: none;
  background: $bg-med;
  box-shadow: 8px 8px 0 $primary;
  transition: all 500ms ease;
  h4 {
    margin: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;    
    color: $primary;
  }  
  &:hover {       
    box-shadow: 0 0 0 $primary;
  }
}