.post {
  // less than the  aside width
  // accounts for iOS scroll bar (lack thereof)
  padding-left: 250px;
}

.post__content {
  p {
    @extend %typography;
  }
  ul {
    p {
      color: $primary;
    }
  }
}
.post__hero {
  padding-top: 50px;
}
