.bg-light {
  background: $bg-light;
}

.bg-med {
  background: $bg-med;
}

.bg-dark {
  background: rgba(0, 0, 0, 0.932);  
}

.center {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.citation {  
  // outline: 1px solid green;
  text-align: right;
  padding: 1rem 0.5rem;
  background: $primary-very-dark;
  color: $font-med;
  a {
    font-size: 85%;
    transition: all 100ms;
    color: $font-med;
    &:hover {
      font-size: 110%;
    }
  }
}

.content {
  max-width: 600px;
}

.fluid {
  max-width: 100%;
  height: auto;
}
