body {
  margin: 0;
  padding: 0;
  // outline: 1px solid red;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  // outline: 1px solid red;
  padding: 0.5rem;
  overflow: auto;
  display: grid;
  grid-template-columns: 100px 1fr;
}

.navbar__logo {
  // outline: 2px dashed green;
  // float: left;  
  h3 {
    margin: 0;
  }
  a {
    text-decoration: none;
  }
}

.navbar__list {
  // outline: 2px dashed blue;
  margin: 0;
  list-style: none;  
  display: flex;
  justify-content: flex-end;
  padding: 0;
  li {
    margin-right: 1.5rem;    
  }
}

.navbar__list-link {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;  
}
