@media(max-width:875px) {
  
  .form {
    order: 2;
  }

  .grid-two,
  .row {
    display: flex;
    flex-direction: column;    
  }

  .col:first-of-type {
    margin-right: 0;
  }

  .section .center {
    justify-content: initial;
    align-items: initial;
  }

  .section__content {
    order: 1;
  }  

  .section__content,
  .section__media {
    margin-bottom: 2rem;
  }


  .aside {    
    // outline: 1px solid red;
    position: relative;
    // display: flex;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;    
    background: white;
    border-bottom: 1px solid $primary-border;
  }

  .aside__nav {
    display: flex;
  }

  .aside__nav-link { 
    min-width: 200px;       
    display: flex;    
    border-left: 1px solid $primary-border;        
    padding: 0.5rem 2rem;
    align-items: center;
    justify-content: center;
  }

  .post {
    padding: 0;
    padding-top: 30px;
  }

  .landing__title {
    h1 {
      font-size: calc((36px + 2vh) + 3.5vw);
    }
  }

  
}

@media(max-width: 498px) {
  .landing__title {
    h1 {
      font-size: calc((12px + 2vh) + 3.5vw);
    }
    p {
      font-size: 18px;
    }
  }
}

@media(max-width:400px) {
  .navbar {
    // outline: 1px solid red;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .landing .btn:last-of-type {
    margin-top: 1rem;
  }
}